In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import os

In [2]:
df=pd.read_csv('/Users/souravkumarjha/Desktop/Project/Unicorn_Companies.csv')
df

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Inverstors,Founded Year,Total Raised,Financial Stage,Investors Count,Deal Terms,Portfolio Exits
0,Bytedance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2012,$7.44B,IPO,28,8,5
1,SpaceX,$100.3,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2002,$6.874B,None,29,12,None
2,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2010,$2.901B,Asset,39,12,1
3,Klarna,$45.6,12/12/2011,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita...",2005,$3.472B,Acquired,56,13,1
4,Epic Games,$42,10/26/2018,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures",1991,$4.377B,Acquired,25,5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1032,Timescale,$1,2/22/2022,United States,New York,Internet software & services,"New Enterprise Associates, Benchmark, Two Sigm...",2015,$181.06M,None,7,2,None
1033,Scalapay,$1,2/23/2022,Italy,Milan,Fintech,"Fasanara Capital, Tiger Global Management, Bal...",2019,$700M,None,10,2,None
1034,Omada Health,$1,2/23/2022,United States,San Francisco,Health,"U.S. Venture Partners, dRx Capital, Andreessen...",2011,$449.72M,None,30,6,None
1035,BlueVoyant,$1,2/23/2022,United States,New York,Cybersecurity,"8VC, Liberty Strategic Capital, Eden Global Pa...",2017,$525.5M,None,6,2,None
1036,Veev,$1,2/24/2022,United States,San Mateo,Internet software & services,"Zeev Ventures, Bond, Fifth Wall Ventures",2008,$604.5M,None,11,1,None

In [3]:
df.shape

(1037, 13)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1037 entries, 0 to 1036
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company            1037 non-null   object
 1   Valuation ($B)     1037 non-null   object
 2   Date Joined        1037 non-null   object
 3   Country            1037 non-null   object
 4   City               1037 non-null   object
 5   Industry           1037 non-null   object
 6   Select Inverstors  1037 non-null   object
 7   Founded Year       1037 non-null   object
 8   Total Raised       1037 non-null   object
 9   Financial Stage    1037 non-null   object
 10  Investors Count    1037 non-null   object
 11  Deal Terms         1037 non-null   object
 12  Portfolio Exits    1037 non-null   object
dtypes: object(13)
memory usage: 105.4+ KB

In [5]:
df.describe()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Inverstors,Founded Year,Total Raised,Financial Stage,Investors Count,Deal Terms,Portfolio Exits
count,1037,1037,1037,1037,1037,1037,1037,1037,1037,1037,1037,1037,1037
unique,1035,200,623,46,256,33,1006,37,914,10,54,16,5
top,Bolt,$1,7/13/2021,United States,San Francisco,Fintech,None,2015,None,None,10,1,None
freq,2,244,9,536,145,205,17,144,24,988,69,280,988

In [6]:
#split the items in each row
df['Select Inverstors Split'] = df['Select Inverstors'].apply( lambda x: x.split(','))
# create a list from the new list
df_list = df['Select Inverstors Split'] 
df_list = df_list.to_frame()
# rename the main column
df_list.rename(columns = {'Select Inverstors Split':'inv_companies'}, inplace = True)
# add each separate item to a new column
df_list[['inv_company_1', 'inv_company_2', 'inv_company_3', 'inv_company_4']] = pd.DataFrame(df_list.inv_companies.tolist(), index= df_list.index)
# add the 'Select Investor' column to the new columns ('inv_company_#')
df_list = df_list.join(df['Select Inverstors'])
# change order of columns to merge with main df
df_list[['Select Inverstors', 'inv_companies', 'inv_company_1', 'inv_company_2', 'inv_company_3', 'inv_company_4']]
# merge to main df
df1 = pd.merge(df, df_list, how = 'left', left_on = 'Select Inverstors', right_on = 'Select Inverstors')
df1

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Inverstors,Founded Year,Total Raised,Financial Stage,Investors Count,Deal Terms,Portfolio Exits,Select Inverstors Split,inv_companies,inv_company_1,inv_company_2,inv_company_3,inv_company_4
0,Bytedance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",2012,$7.44B,IPO,28,8,5,"[Sequoia Capital China, SIG Asia Investments,...","[Sequoia Capital China, SIG Asia Investments,...",Sequoia Capital China,SIG Asia Investments,Sina Weibo,Softbank Group
1,SpaceX,$100.3,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",2002,$6.874B,None,29,12,None,"[Founders Fund, Draper Fisher Jurvetson, Rot...","[Founders Fund, Draper Fisher Jurvetson, Rot...",Founders Fund,Draper Fisher Jurvetson,Rothenberg Ventures,None
2,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",2010,$2.901B,Asset,39,12,1,"[Khosla Ventures, LowercaseCapital, capitalG]","[Khosla Ventures, LowercaseCapital, capitalG]",Khosla Ventures,LowercaseCapital,capitalG,None
3,Klarna,$45.6,12/12/2011,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita...",2005,$3.472B,Acquired,56,13,1,"[Institutional Venture Partners, Sequoia Capi...","[Institutional Venture Partners, Sequoia Capi...",Institutional Venture Partners,Sequoia Capital,General Atlantic,None
4,Epic Games,$42,10/26/2018,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures",1991,$4.377B,Acquired,25,5,2,"[Tencent Holdings, KKR, Smash Ventures]","[Tencent Holdings, KKR, Smash Ventures]",Tencent Holdings,KKR,Smash Ventures,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1336,Timescale,$1,2/22/2022,United States,New York,Internet software & services,"New Enterprise Associates, Benchmark, Two Sigm...",2015,$181.06M,None,7,2,None,"[New Enterprise Associates, Benchmark, Two S...","[New Enterprise Associates, Benchmark, Two S...",New Enterprise Associates,Benchmark,Two Sigma Ventures,None
1337,Scalapay,$1,2/23/2022,Italy,Milan,Fintech,"Fasanara Capital, Tiger Global Management, Bal...",2019,$700M,None,10,2,None,"[Fasanara Capital, Tiger Global Management, ...","[Fasanara Capital, Tiger Global Management, ...",Fasanara Capital,Tiger Global Management,Baleen Capital,None
1338,Omada Health,$1,2/23/2022,United States,San Francisco,Health,"U.S. Venture Partners, dRx Capital, Andreessen...",2011,$449.72M,None,30,6,None,"[U.S. Venture Partners, dRx Capital, Andrees...","[U.S. Venture Partners, dRx Capital, Andrees...",U.S. Venture Partners,dRx Capital,Andreessen Horowitz,None
1339,BlueVoyant,$1,2/23/2022,United States,New York,Cybersecurity,"8VC, Liberty Strategic Capital, Eden Global Pa...",2017,$525.5M,None,6,2,None,"[8VC, Liberty Strategic Capital, Eden Global...","[8VC, Liberty Strategic Capital, Eden Global...",8VC,Liberty Strategic Capital,Eden Global Partners,None
1340,Veev,$1,2/24/2022,United States,San Mateo,Internet software & services,"Zeev Ventures, Bond, Fifth Wall Ventures",2008,$604.5M,None,11,1,None,"[Zeev Ventures, Bond, Fifth Wall Ventures]","[Zeev Ventures, Bond, Fifth Wall Ventures]",Zeev Ventures,Bond,Fifth Wall Ventures,None

# Working with 'Founded Year' column¶
    1)replace None values to 1900
    2)change STR to datetime

In [7]:
df1['Founded Year'] = df1['Founded Year'].apply(lambda x: x.replace('None','1900')).apply(lambda x: datetime.strptime(x, '%Y'))

# Working with Data Joined column
    1)change STR to datetime

In [8]:
df1['Date Joined'] = df1['Date Joined'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))

In [9]:
unicorns_df = df1[['Company', 'Valuation ($B)', 'Date Joined', 'Country', 'City',
                'Founded Year', 'Total Raised', 'Financial Stage',
                'Investors Count', 'Deal Terms', 'Portfolio Exits', 'Select Inverstors', 'Industry', 'inv_company_1',
                'inv_company_2', 'inv_company_3', 'inv_company_4']]

In [10]:
#replacing None for NAN
unicorns_df.replace(to_replace='None', value=np.nan, inplace=True)

/var/folders/04/c4w6x0354f9czk4xwqrq09jr0000gn/T/ipykernel_18896/3245733434.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unicorns_df.replace(to_replace='None', value=np.nan, inplace=True)

In [11]:
unicorns_df.drop_duplicates(inplace=True)

/var/folders/04/c4w6x0354f9czk4xwqrq09jr0000gn/T/ipykernel_18896/1110855224.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unicorns_df.drop_duplicates(inplace=True)

In [12]:
unicorns_df.to_csv('Updated_Unicorns1.csv')